@import "tailwindcss";

@theme {
    --font-sans: var(--font-geist-sans);
    --font-mono: var(--font-geist-mono);
}

:root {
    --background: #ffffff;
    --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
    }
}
#menu::before {
    content: "";
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent #f0eeee transparent;
    position: absolute;
    top: -20px;
    left: 15px;
}
#menu li:not(:last-child){
    border-bottom: 1px solid #ddd;
}

#menu li {
    padding: 5px;
    color: #171717;
    text-decoration: none;
}
body {
    background-image: url("/background.jpg"); 
    background-size: cover; 
    background-position: center; 
    background-attachment: fixed; 
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}
@media screen and (max-width: 768px) {
    body {
        background-image: url("/back.jpg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
}
